
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

#top {
  border: 5px solid #ccc;
}

#close {
  position: fixed;
  top: 102%;
  left:50%;
  transform: translate(-102%, -50%);
}
