<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}
</style>
<script type="text/javascript" >
  function clicked_img(img){
            console.log(img.src);
   }
</script>
</head>
<body>

<h2>Flask Image Gallery</h2>
  <div class="cx" style="background-color:#fff;">
    {% for path in paths %}
    <img src='content/{{ path }}' height=200 width=200 onclick="clicked_img(this)" >
    {% endfor %}
  </div>
</body>
</html>
